canvas {
  border: 1px solid black;
  box-shadow: 0px 0px 15px 15px rgba(233, 229, 229, 0.1);
  z-index: -1;
  position: absolute;
  left: 2em;
  top: 8em;
  margin: 2em;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(233, 229, 229, 0.1);
  color: white;
  text-align: center;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content a {
  color: white;
  text-decoration: none;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  background: black;
  margin-top: 2em;
}

#background {
  z-index: 5;
}

#secret-turtle {
  z-index: 6;
}

.title {
  margin-left: 4em;
}

.scoreboard {
  margin-left: 4em;
}

.scoreboard h2 {
  max-width: 15%;
  margin: 0;
  padding: 0;
  float: left;
  margin-right: 2em;
}

.key {
  position: absolute;
  top: 50px;
  left: 670px;
}

.key0,
.key1,
.key2 {
  float: right;
}

.key0 {}

.key1 {}

.key2 {}
