canvas {
  border: 1px solid black;
  z-index: -1;
  position: absolute;
  left: 2em;
  top: 6em;
  margin: 2em;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#background {
  z-index: 1;
}

#secret-turtle {
  z-index: 2;
}

.title {
  margin-left: 4em;
}

.scoreboard {
  margin-left: 4em;
}

.scoreboard h2 {
  max-width: 15%;
  margin: 0;
  padding: 0;
  float: left;
  margin-right: 2em;
}

.key {
  position: absolute;
  top: 50px;
  left: 670px;
}
.key0, .key1, .key2 {
  float: right;
}
.key0 {

}
.key1 {

}
.key2  {

}
