canvas {
  border: 1px solid black;
  z-index: -1;
  position: absolute;
  left: 2em;
  top: 6em;
  margin: 2em;
}

#background {
  z-index: 1;
}

#secret-turtle {
  z-index: 2;
}

.title {
  margin-left: 4em;
}

.scoreboard {
  margin-left: 4em;
}